In [21]:
import pandas as pd
import numpy as np
from astropy import units as u
from astropy.coordinates import SkyCoord

In [22]:
pre_data = pd.read_csv('simbad_all_A0V_ext3.txt', skiprows=18, sep=';', index_col=0, header=None)
pre_data.index.name = 'name'
pre_data

,1,2,3,4,5,6
name,,,,,,
BD+35 4414,21 09 13.218|+36 20 50.00|7|Opt |B|2009yCat.1...,0.5 |-4.3 |1 |B|2003yCat.1289....0Z,~ |~|~|~,**,~|9.861|9.771|9.745|~|9.591|9.567|9.569|,A0V D ~
BD+38 4388,21 12 27.1038761610|+39 01 32.645315022|14|Op...,1.020 |-3.473 |3 |A|2018yCat.1345....0G,1.7853 |A|0.0366|2018yCat.1345....0G,Star,~|10.95|10.83|~|~|10.495|10.459|10.467|,A0V D ~
HIP 105624,21 23 35.5297106889|+40 01 07.021382015|14|Op...,28.323 |7.651 |3 |A|2018yCat.1345....0G,6.3489 |A|0.0300|2018yCat.1345....0G,Star,~|7.33|7.21|~|~|6.896|6.873|6.840|,A0V D ~
BD+37 4316,21 27 25.3852717278|+38 37 33.193081980|14|Op...,-2.308 |-5.080 |3 |A|2018yCat.1345....0G,1.3985 |A|0.0414|2018yCat.1345....0G,Star,~|10.61|10.46|~|~|10.263|10.227|10.191|,A0V D ~
HD 9711,01 35 58.0262091977|+43 29 28.454920019|14|Op...,7.151 |-5.772 |3 |A|2018yCat.1345....0G,3.3632 |A|0.5220|2018yCat.1345....0G,Star,~|10.03|9.98|~|~|9.706|9.653|9.612|,A0V C ~
...,...,...,...,...,...,...
HD 63361,07 47 32.8548604281|-27 14 45.658792314|14|Op...,-2.855 |3.143 |3 |A|2018yCat.1345....0G,0.6756 |A|0.0455|2018yCat.1345....0G,Star,~|9.53|9.38|~|~|10.198|10.210|10.156|,A0V C ~
CD-29 15108,18 34 47.0225522639|-29 13 37.228858797|14|Op...,1.839 |-0.010 |3 |A|2018yCat.1345....0G,2.0173 |A|0.0359|2018yCat.1345....0G,Star,~|11.09|10.83|~|~|10.054|9.961|9.909|,A0V D 1964AJ.....69..104M
TYC 8195-26-1,10 15 26.5576118447|-51 39 04.136926931|14|Op...,-8.496 |3.694 |3 |A|2018yCat.1345....0G,0.6137 |A|0.0294|2018yCat.1345....0G,Star,~|12.52|12.30|~|~|11.626|11.554|11.491|,A0V C ~
CD-32 13093,17 40 06.8713889393|-32 13 50.703396623|14|Op...,-0.924 |-5.400 |3 |A|2018yCat.1345....0G,2.1628 |A|0.0703|2018yCat.1345....0G,Star,~|10.38|10.25|~|~|9.895|9.810|9.802|,A0V C 2016AJ....151...49K
HD 318114,17 40 42.1903754676|-32 16 49.377466504|14|Op...,-1.104 |-5.549 |3 |A|2018yCat.1345....0G,2.2353 |A|0.0638|2018yCat.1345....0G,Star,~|10.33|10.23|~|~|~|9.823|9.768|,A0V C 2016AJ....151...49K

In [23]:
data = pd.DataFrame(index=pre_data.index)
data

Empty DataFrame
Columns: []
Index: [BD+35  4414, BD+38  4388, HIP 105624, BD+37  4316, HD   9711, BD+39  4409, BD+40  4390, HIP 109079, V* AD And, HIP   7927, HD   9726, NGC  7243   471, BD+49  3793, NGC  7243   510, NGC  7243   392, HIP 114714, HIP  10819, HIP 102619, TYC 3179-1435-1, BD+44  3604, BD+44  3626, HIP 103222, Cl* NGC 6996     ZS      34, BD+46  3166, HIP 106393, BD+55  3061, HD 232227, HIP  15925, HIP 101452, HIP 102074, BD+46  3068, BD+45  3300, HD 199006, BD+45  3319, BD+44  3588, HIP 103159, BD+46  3130, HD 200252, HIP 104127, BD+46  3123, TYC 3973-2684-1, TYC 3973-1191-1, V* MN Cas, TYC 3973-133-1, TYC 3990-1627-1, TYC 4279-2006-1, TYC 4279-1300-1, BD+59  2689, TYC 4279-120-1, BD+60  2580, HD 240290, HD 223580, BD+60  2638, BD+60  2645, BD+60  2651, HIP 117450, TYC 4281-154-1, TYC 4281-401-1, TYC 4281-1859-1, TYC 4014-1686-1, TYC 4014-88-1, TYC 4014-496-1, TYC 4014-826-1, HD   2745, BD+59   195, HD  11920, NGC   744     3, NGC   744     7, NGC   744     8, NGC   869   366, NGC   869   524, 2MASS J02194150+5643327, 2MASS J02183496+5649290, HIP  16652, BD+60  2511, BD+62  2148, BD+62  2153, BD+61  2402, TYC 4285-848-1, TYC 4285-2668-1, HIP    942, HIP   1383, BD+61  2588, HIP    582, BD+61  2595, TYC 4018-927-1, TYC 4018-1866-1, TYC 4018-3607-1, TYC 4018-3801-1, BD+61   164, BD+61   157, BD+61   271, HD  12365, HD  10897, HD  11517, TYC 4033-1406-1, HD  11825, BD+58   354, GSC 04033-01224, HD  13100, ...]

[6185 rows x 0 columns]

In [24]:
pre_data.iloc[1][6]

' A0V D ~                  '

In [25]:
data[['RA','DEC','QualN','Band','Qual','BibCoo']] = pre_data[1].str.split('|').to_list()

In [26]:
data[['PMRA','PMDEC','PMQualN','PMQual','BibPM']] = pre_data[2].str.split('|').to_list()

In [27]:
data[['PLX_VALUE','PLXQual','PLXerr','BibPLX']] = pre_data[3].str.split('|').to_list()

In [28]:
data['OTYPE'] = pre_data[4]

In [29]:
data[['FLUX_U','FLUX_B','FLUX_V','FLUX_R','FLUX_I','FLUX_J','FLUX_H','FLUX_K','None']] = pre_data[5].str.split('|').to_list()

In [30]:
data[['SP_TYPE','SPQual','BibSP']] = pre_data[6].str.split().to_list()

In [31]:
df2 = pd.read_csv('./simbad_res3.txt', sep='\n', skipinitialspace=True,
                 lineterminator='|', names=['name', '25s', '1.5m', '1', '2'],
                  index_col='name', skiprows=3)
df2 = df2.drop(['1','2'], axis=1)
df2

               25s  1.5m
name
BD+35  4414    1.0   2.0
BD+38  4388    1.0   1.0
HIP 105624     1.0   1.0
BD+37  4316    1.0   1.0
HD   9711      1.0   1.0
...            ...   ...
HD  63361      1.0   1.0
CD-29 15108    1.0   1.0
TYC 8195-26-1  1.0   1.0
CD-32 13093    1.0   5.0
HD 318114      1.0   2.0

[6185 rows x 2 columns]

In [32]:
data[['25s','1.5m']] = df2[['25s','1.5m']]
data

,RA,DEC,QualN,Band,Qual,BibCoo,PMRA,PMDEC,PMQualN,PMQual,...,FLUX_I,FLUX_J,FLUX_H,FLUX_K,None,SP_TYPE,SPQual,BibSP,25s,1.5m
name,,,,,,,,,,,,,,,,,,,,,
BD+35 4414,21 09 13.218,+36 20 50.00,7,Opt,B,2009yCat.1315....0Z,0.5,-4.3,1,B,...,~,9.591,9.567,9.569,,A0V,D,~,1.0,2.0
BD+38 4388,21 12 27.1038761610,+39 01 32.645315022,14,Opt,A,2018yCat.1345....0G,1.020,-3.473,3,A,...,~,10.495,10.459,10.467,,A0V,D,~,1.0,1.0
HIP 105624,21 23 35.5297106889,+40 01 07.021382015,14,Opt,A,2018yCat.1345....0G,28.323,7.651,3,A,...,~,6.896,6.873,6.840,,A0V,D,~,1.0,1.0
BD+37 4316,21 27 25.3852717278,+38 37 33.193081980,14,Opt,A,2018yCat.1345....0G,-2.308,-5.080,3,A,...,~,10.263,10.227,10.191,,A0V,D,~,1.0,1.0
HD 9711,01 35 58.0262091977,+43 29 28.454920019,14,Opt,A,2018yCat.1345....0G,7.151,-5.772,3,A,...,~,9.706,9.653,9.612,,A0V,C,~,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HD 63361,07 47 32.8548604281,-27 14 45.658792314,14,Opt,A,2018yCat.1345....0G,-2.855,3.143,3,A,...,~,10.198,10.210,10.156,,A0V,C,~,1.0,1.0
CD-29 15108,18 34 47.0225522639,-29 13 37.228858797,14,Opt,A,2018yCat.1345....0G,1.839,-0.010,3,A,...,~,10.054,9.961,9.909,,A0V,D,1964AJ.....69..104M,1.0,1.0
TYC 8195-26-1,10 15 26.5576118447,-51 39 04.136926931,14,Opt,A,2018yCat.1345....0G,-8.496,3.694,3,A,...,~,11.626,11.554,11.491,,A0V,C,~,1.0,1.0
CD-32 13093,17 40 06.8713889393,-32 13 50.703396623,14,Opt,A,2018yCat.1345....0G,-0.924,-5.400,3,A,...,~,9.895,9.810,9.802,,A0V,C,2016AJ....151...49K,1.0,5.0
HD 318114,17 40 42.1903754676,-32 16 49.377466504,14,Opt,A,2018yCat.1345....0G,-1.104,-5.549,3,A,...,~,~,9.823,9.768,,A0V,C,2016AJ....151...49K,1.0,2.0

In [39]:
data = data.replace('~',np.NaN)
data = data.replace(' ~ ',np.NaN)

In [40]:
data.to_csv('simbad_all_A0V_ext3.csv')

In [38]:
data['PLX_VALUE'].replace(' ~ ',np.NaN)

name
BD+35  4414           NaN
BD+38  4388       1.7853
HIP 105624        6.3489
BD+37  4316       1.3985
HD   9711         3.3632
                   ...
HD  63361         0.6756
CD-29 15108       2.0173
TYC 8195-26-1     0.6137
CD-32 13093       2.1628
HD 318114         2.2353
Name: PLX_VALUE, Length: 6185, dtype: object