In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import astropy.units as u
from astropy.coordinates import SkyCoord, Angle

In [2]:
dataG = pd.read_csv("../star-search/cat/A0V.csv", sep="\s+")
dataI = pd.read_csv("short.csv")
dataA = pd.read_csv("short_all.csv")
dataA

,NAME,RA,DEC,PMRA,PMDEC,FLUX_B,FLUX_V,FLUX_J,FLUX_H,FLUX_K
0,HD 54433,07 08 51.6194880360,+00 00 35.130156237,-7.922,-3.279,8.63,8.59,8.466,8.486,8.472
1,HIP 44227,09 00 29.8145590340,+00 09 25.223893718,-3.717,-0.974,8.39,8.35,8.241,8.312,8.258
2,HIP 36852,07 34 37.8434076747,+00 10 27.745872891,-2.161,2.335,8.46,8.43,8.356,8.341,8.319
3,HIP 35309,07 17 37.3775630081,+00 10 52.412272931,-11.276,-21.741,7.85,7.84,7.779,7.818,7.782
4,HIP 41345,08 26 07.0768546283,+00 13 48.136523290,-6.660,-30.043,8.57,8.55,8.547,8.553,8.564
...,...,...,...,...,...,...,...,...,...,...
1472,HIP 40949,08 21 26.1285927405,-80 42 26.836425247,-21.366,29.058,9.00,8.94,8.728,8.796,8.714
1473,HIP 92928,18 56 00.0240189735,-80 43 40.391686602,9.773,-8.478,6.59,6.56,6.401,6.358,6.364
1474,HIP 28849,06 05 23.8827312676,-81 59 26.418356194,4.903,25.344,8.33,8.29,8.192,8.235,8.207
1475,HD 36504,05 10 05.3055373524,-84 16 43.527462943,-1.497,12.103,8.66,8.59,8.467,8.478,8.501
1476,HD 88957,09 33 04.4731911775,-88 38 21.428841653,-18.658,-3.788,10.05,10.01,9.804,9.823,9.811

In [3]:
RA_G = Angle(dataG.RA_J2000, unit=u.hourangle)
DEC_G = Angle(dataG.DEC_J2000, unit=u.deg)
RA_I = Angle(dataI.RA, unit=u.hourangle)
DEC_I = Angle(dataI.DEC, unit=u.deg)
RA_A = Angle(dataA.RA, unit=u.hourangle)
DEC_A = Angle(dataA.DEC, unit=u.deg)

In [9]:
%matplotlib
plt.polar(RA_G.degree, -DEC_G.degree + 90, 'k+', label="HIP")
plt.polar(RA_A.degree, -DEC_A.degree + 90, 'rx', label="КГО")
# plt.polar(RA_I.degree, -DEC_I.degree + 90, 'y.', label="Igor")
plt.ylim(0,135)
plt.legend()

Using matplotlib backend: TkAgg

In [30]:
-DEC.degree + 90

array([ 88.75542333,  88.05267222,  86.13302056, ..., 171.99067167,
       174.2787575 , 178.63928556])

In [55]:
dataG[np.abs(dataG["FLUX_J"] - dataG["FLUX_K"]) > 0.05]

,M,HIP_ID,Dist,RA_J2000,DEC_J2000,V_MAG,Parallax,PM_RA,PM_DEC,CCDM,Sp_Type,HIP_ID_STR,FLUX_J,FLUX_H,FLUX_K
1,M,232,NaN,00:02:55.22,-30:08:59.1,8.43,5.18,20.22,2.81,--------,A0V,hip232,8.377,8.428,8.427
4,M,582,NaN,00:07:05.49,+62:23:33.7,9.52,4.40,7.17,-2.62,--------,A0V,hip582,9.064,9.037,8.968
11,M,2578,NaN,00:32:43.90,-63:01:53.4,5.07,21.52,86.15,-49.85,00327-6302,A0V,hip2578,5.061,5.156,4.985
14,M,2731,NaN,00:34:53.44,-68:35:48.3,8.59,5.54,16.93,20.25,--------,A0V,hip2731,7.935,7.651,7.575
19,M,5518,NaN,01:10:39.33,+68:46:43.0,5.32,10.26,35.26,-27.48,--------,A0Vnn,hip5518,5.556,5.332,5.309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,M,109476,NaN,22:10:40.02,-24:01:33.5,9.51,1.83,-27.16,-2.51,--------,A0V,hip109476,8.881,8.647,8.571
1062,M,110395,NaN,22:21:39.38,-01:23:14.4,3.86,20.67,129.24,8.90,22217-0123,A0V,hip110395,4.110,4.053,4.021
1079,M,114918,NaN,23:16:38.30,-19:57:42.5,9.04,4.16,16.46,1.74,--------,A0V,hip114918,8.768,8.665,8.672
1081,M,115115,NaN,23:18:57.68,-09:36:38.6,4.99,13.10,43.47,-7.80,23189-0937,A0V,hip115115,5.096,5.060,4.964
1083,M,116750,NaN,23:39:41.57,-22:32:00.2,7.29,4.47,27.97,-27.06,--------,A0V,hip116750,6.797,6.585,6.471

In [56]:
dataG[dataG["Sp_Type"] != "A0V"]

,M,HIP_ID,Dist,RA_J2000,DEC_J2000,V_MAG,Parallax,PM_RA,PM_DEC,CCDM,Sp_Type,HIP_ID_STR,FLUX_J,FLUX_H,FLUX_K
7,M,1603,NaN,00:20:05.17,+48:51:55.5,6.53,3.69,-3.26,-14.65,--------,A0Vs,hip1603,6.332,6.384,6.329
12,M,2628,NaN,00:33:19.26,+70:58:54.6,6.41,6.18,35.38,-1.81,--------,A0Vn,hip2628,6.349,6.323,6.313
18,M,5132,NaN,01:05:41.71,+21:27:55.5,5.55,14.67,53.93,-12.63,01057+2128,A0Vn,hip5132,5.607,5.632,5.610
19,M,5518,NaN,01:10:39.33,+68:46:43.0,5.32,10.26,35.26,-27.48,--------,A0Vnn,hip5518,5.556,5.332,5.309
26,M,6685,NaN,01:25:46.32,+70:58:47.5,6.34,6.34,9.33,-13.89,--------,A0Vnn,hip6685,6.228,6.265,6.242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,M,109689,NaN,22:13:09.43,-21:24:21.6,8.34,5.40,12.78,-4.56,--------,B9.5/A0V,hip109689,8.223,8.255,8.178
1060,M,109911,NaN,22:15:38.88,+49:57:16.1,9.97,-0.25,2.62,-1.96,--------,A0Vp,hip109911,9.808,9.833,9.819
1069,M,112179,NaN,22:43:14.26,-06:57:46.5,6.40,8.87,26.27,-10.08,--------,A0Vn,hip112179,6.436,6.527,6.480
1072,M,112798,NaN,22:50:33.97,-55:13:09.6,8.01,3.75,6.87,-1.62,--------,B9.5/A0V,hip112798,8.014,8.035,8.026
1088,M,120003,NaN,06:31:09.63,+11:15:20.9,9.10,20.03,1.84,-14.47,06312+1115,A0Vp,hip120003,9.169,9.172,9.167